header {
    background-color: #000000;
    padding: 20px;

}

h1:hover{
font-size: 78px;
}

.caixa {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2aa14e;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 1200px;
    top: 10px;
    margin: 0px auto;

    
}

.empresa{
    color: #ffffff;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    vertical-align: center;
    top: 40px;
    margin: 0px;

}

.imagem{
    width: 30%;
    margin-right:4000px;
    margin-top: -120px;
    
}

.imagemlogo{
    width: 40%;
    height: 40%;
    margin-right: 2000px;
}

main{
    background-image: url(./fundoverde.png);
    color: #081f15;
    background-color: #0e1613;

}

.logo-inicio{
    top: -50px;
    

}

.imagemdiv{
    width: 50%;
}

nav {
    position: absolute;
    top: 43px;
    right: 0px;
}

nav li {
    color: #ffffff;
    text-align: top;
    display: inline-block;
    margin: 0 0 10px 5px;

}

.home {
    width: 20px;
    height: 20px;
    padding: 1px;
}

.bola{
    width: 20px;
    height: 20px;
    padding: 1px;
}

.telefone{
    width: 20px;
    height: 20px;
    padding: 1px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;

}


nav a:hover{
    color:#8bc56a

}

.produto{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    width: 3900px;
    margin: 0px auto;
    padding: 50px 50px 50px 50px;
    text-decoration: none;
    display: inline-block;
    
}

.produto li{
    width: 30%;
    vertical-align: top;
    margin: 0 2.3%;
    padding: 10px 10px;
}

.produto li:hover{
    border-color: #3b7a43;
}

.produto li:active{
    border-color: #548a64;
}

.produto h2{
    font-size: 30px;
    color: #2aa14e;
    text-align: left;
    padding: 20px 50px 20px 50px;

}

div p{
    font-size: 15px;
    text-align: right;
}

.imagemtorta{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 70px 70px 0;
    border-radius: 10%;
    border-color: #ffffff;
}

.pclass{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

img.alignleft {
    padding-bottom: 10px;
    float: right; 
    margin: 0 20px 20px;

}

img.alignright {
    text-align: center;
    padding-bottom: 50px;
    float: left; 
    margin: 0px 20px 20px;
}
 
.produto li:hover h2{
    font-size: 34px;

}


.produto-descricao{
    font-size: 18px;
    padding: 20px 50px;
    text-align: left;
}

.produto-preco{
    font-size: 22px;
    margin-top: 10px;
}

footer{
    text-align: center;
    background-color: #000000;
    padding: 40px 0;
}

.contatofooter{
    float: left;
    vertical-align: center;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.contatofooter{
    color: white;
    vertical-align: center;
    text-align: left;
    padding: 6px 0px 0px 10px;

}

footer a{
    padding: 10px;
    color: white;
    text-decoration: none;

}

footer a:hover{
    color:#2aa14e;
}


footer li{
    padding: 1px 0 10px 10px;
    text-align: left;
}

.gif{
    text-align: block;

}

.copy{
    color: #bbbbbb;
    font-size: 15px;
}